.item {
  margin: 0px 0px 20px 0px;
}

.item * {
  background-color: #ffff;
  margin-bottom: 1px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.contentItem {
  width: 180px;
}
